
.camera {
  position: relative;
  height: 0;
  max-height: 50vh;
  max-width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
}

#player, #canvas1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 50vh;
  width: min(100%, calc(50vh * 16 / 9));
}

.chart-container {
  position: relative;
  justify-content: center; /* horizontally center child elements */
  align-items: center; /* vertically center child elements */
}
#chart{
 margin-right: 25%; 
}



/*פונטים*/
@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;900&display=swap');

/*הגדרת צבעים במשתנים*/
:root {
    font-size: 14pt;
    --headlinesC: #321C99;
    --textC: #3E3737;
    --gold: #F0CB7F;
    --lightPurple: #C2A9E8;
    --bg: rgba(236, 240, 255, 0.5);
    --purple: #AE9CE6;
    --shadow: 0px 8px 100px rgba(87, 71, 164, 0.2);
    --shadowSmall: 0px 8px 50px rgba(87, 71, 164, 0.1);
    --shadowVerySmall: 0px 8px 20px rgba(87, 71, 164, 0.1);
    --shadowVerySmallH: 0px 8px 20px rgba(87, 71, 164, 0.2);
    --white: #FDFDFD;
    --darkpurple: #5346A3;
    --red: #F073BC;
    --green: #9CF097;
    --gar: linear-gradient(90deg, #C2A9E8 0%, #AE9CE6 73.39%);
}


/*הכל*/
* {
    font-family: 'Rubik', sans-serif;
    direction: rtl !important;
    color: var(--textC);
    scroll-behavior: smooth;
    scroll-padding: 2rem;
}

    *:focus {
        outline: 0 !important;
    }

    *::selection {
        background: var(--gold);
    }

/*מאפייני דף*/

body {
    /* margin: 1rem auto !important; */
    background: linear-gradient(111.35deg, #ECFCFF 0%, #E7FBFF 8.56%, #DCECFF 37.35%, #E0DDFF 78.86%, #E8C2FF 103.64%);
    /* width: 100vw; */
    min-height: calc(100vh - 2rem);
    overflow-x: hidden;
    max-width: 100vw !important;
    font-size: 1rem;
}

/*סקרול*/
::-webkit-scrollbar {
    width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: var(--bg);
    opacity: 0.3;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--lightPurple);
    border-radius: 5px;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: var(--purple);
        box-shadow: 0px 8px 100px rgba(87, 71, 164, 0.20);
    }


/*קלסאים כלליים*/
.bg{
  background: var(--bg);
  box-shadow: var(--shadow);
  border-radius: 1rem; 
  backdrop-filter: blur(10px);   
}

.footer-bg{
    background: linear-gradient(111.35deg, #ECFCFF 0%, #E7FBFF 8.56%, #DCECFF 37.35%, #E0DDFF 78.86%, #E8C2FF 103.64%);
    box-shadow: var(--shadow);
    backdrop-filter: blur(10px);   
}

.bg-modal{
    background: var(--white);
    box-shadow: var(--shadow);
    border-radius: 1rem; 
    backdrop-filter: blur(10px);   
  }


.bg-video {
    background: var(--bg);
    box-shadow: var(--shadow);
    border-radius: 1rem;
    /* padding-top: 2rem;
    padding-bottom: 3rem;    */
    backdrop-filter: blur(10px);   
}

.redG{   
  background-image:linear-gradient(180deg,  rgba(236, 240, 255, 0.5) 60%, #F073BC 100%); 
}

.greenG{
  background-image:linear-gradient(180deg,  rgba(236, 240, 255, 0.5) 60%, #9CF097 100%);
}

.red-outline{
    box-sizing: border-box;
    border: 5px solid ;
    border-color: var(--red);
    padding: 15px;
    border-radius: 1rem;    
    width: 97%;
    height: 97%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.green-outline{
    box-sizing: border-box;
    border: 5px solid ;
    border-color: var(--green);
    padding: 15px;
    border-radius: 1rem;    
    width: 97%;
    height: 97%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slider {
    -webkit-appearance: none;    
    width: 100%;
    height: 50%;
    border-radius: 5px;
    background:transparent;
    outline: none;    
    -webkit-transition: .2s;
    transition: opacity .2s;
    background-image: url('https://raw.githubusercontent.com/alumappel/katimbot2/master/images/Group%20158.png');
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-position: center center;
  }
  
    
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;    
    height: 8vw;
    width: 10%;     
    margin-bottom: 12%; 
    background-image: url('https://raw.githubusercontent.com/alumappel/katimbot2/master/images/Union.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    cursor:default;
  }
  
  .slider::-moz-range-thumb {
    height: 6vw; 
    margin-bottom: 12%; 
    background-image: url('https://raw.githubusercontent.com/alumappel/katimbot2/master/images/Union.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    cursor:default;
  }





/* .section {
    width: 96%;
    margin: 0 auto;
}

.flex-1 {
    flex: 1;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
} */
/* 
.card {
    background: rgba(236, 240, 255, 0.5);
    box-shadow: var(--shadow);
    border-radius: 1rem;
    display: inline-flex;
    transition: transform 1s ease 0s;
} */

.navbar{
     padding: 0;
     padding-right: 2rem; 
     max-width: 95vw;
     margin-top: 1rem;
     margin-left: auto; 
     margin-right: auto; 
     border-radius: 35px;
     box-shadow: var(--shadow);
}



/*כפתורים ונהנים*/
 a, .btn-link {
    color: #0366d6;
}

.btn {
    align-items: center;
    justify-content: center;
    color: var(--textC);
    display: flex;
    padding: 0.3rem 1rem;
    border-radius: 0.5rem;
    width: fit-content;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    font-size: 0.8rem;
    border: none;
}

    .btn:focus, .btn:active, .btn:hover, .btn:visited {
        border: none;
        border-color: none;
        text-decoration: none;
        moz-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
        box-shadow: 0px 3px 29px rgba(87, 71, 164, 0.10);
        color: var(--textC);
    }

.btn-primary {
    background-image: linear-gradient(90deg, #C2A9E8 0%, #AE9CE6 73.39%);
    font-size: 1.5rem;
    color: var(--white);
    /* background-size: 200% 100%;
    background-position: 0 0; */
}

    .btn-primary:focus, .btn-primary:active, .btn-primary:visited, .btn-primary:hover {
      background-image: linear-gradient(180deg, #c9abf6 0%, #a48fe4 73.39%);
      color:var(--textC);
    }


.goldBtn {
    background: var(--gold);
}

    .goldBtn:hover {
        background: #ECBD5E;
    }

.outbtn {
    padding: 0.1rem 0.5rem;
    background: var(--bg);
    border: 3px solid var(--purple) !important;
}

    .outbtn:hover {
        background: var(--purple);
        border: 3px solid var(--purple) !important;
    }

.moveani {
    moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    text-align: left;
}

.goldBtn:hover .moveani {
    moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    transform: translateX(-0.5rem);
} 

.btn-modal-primary{
text-align: center;
padding: 0.5rem;
background-color: var(--green);
font-weight: 600;
box-shadow: var(--shadowSmall);
}

.btn-modal-primary:hover{
    scale: 1.1;
    }

.btn-modal-secendery{
    text-align: center;
    padding: 0.5rem;
    border: 2px solid var(--red);
    box-shadow: var(--shadowSmall);
}
.btn-modal-secendery:hover{
    padding: 0.5rem;
    background-color: var(--red);
}




/*כותרות*/
h1 {
    color: var(--headlinesC);
    text-align: center;
}

h3, h1, h2, h4, h5 {
    font-weight: 700;
}

h4 {
    font-size: 1rem;
}

p {
    font-size: 1rem;
}

.headlines {
    font-weight: 900;
    text-align: right;
    font-size: 1.4rem;
}

/* #win, #presDone {
    position: absolute;
    left: 50%;
    padding: 10%;
    text-align: center;
    transform: translate(-50%, 50%);
    top: 50%;
} */

/* #prestime {
    background: var(--bg);
    text-align: center;
    padding: 1%;
    width: max-content;
    font-size: 13pt;
    line-height: 1;
    margin: unset;
    color: var(--textC);
    box-shadow:var(--shadowVerySmall);
    border-radius:1rem;
} */

.icon-color{
    color: var(--darkpurple);   
}
.table-btn{
    border: 1px;
    background-color: #ffffff00;
    width: 80%;    
    padding: 5%; 

}
.table-btn:hover{
    background-color: var(--white);
    scale: 130%;
    box-shadow: var(--shadowSmall);
   
}










/*אייקון פונט*/
@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?k2dsh3');
    src: url('fonts/icomoon.eot?k2dsh3#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?k2dsh3') format('truetype'), url('fonts/icomoon.woff?k2dsh3') format('woff'), url('fonts/icomoon.svg?k2dsh3#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-webcam:before {
    content: "\e921";
}

.icon-prontal:before {
    content: "\e922";
}

.icon-comp:before {
    content: "\e923";
}

.icon-trash-icon:before {
    content: "\e905";
}

.icon-heart-icon:before {
    content: "\e91b";
}

.icon-stress-icon:before {
    content: "\e91c";
}

.icon-very-stress-icon:before {
    content: "\e91d";
}

.icon-more-eye-icon:before {
    content: "\e91e";
}

.icon-more-watch-icon:before {
    content: "\e91f";
}

.icon-question-mark:before {
    content: "\e900";
}

.icon-cofettie-icon:before {
    content: "\e901";
}

.icon-email-icon:before {
    content: "\e902";
}

.icon-pdf-icon:before {
    content: "\e903";
}

.icon-rate-icon:before {
    content: "\e906";
}

.icon-mic-icon:before {
    content: "\e907";
}

.icon-hans-icon:before {
    content: "\e908";
}

.icon-foot-icon:before {
    content: "\e909";
}

.icon-move-icon:before {
    content: "\e90a";
}

.icon-vol-icon:before {
    content: "\e90b";
}

.icon-pitch-icon:before {
    content: "\e90c";
}

.icon-out-icon:before {
    content: "\e90d";
}

.icon-profile-icon:before {
    content: "\e90e";
}

.icon-cool-icon:before {
    content: "\e90f";
}

.icon-eyes-icon:before {
    content: "\e910";
}

.icon-watch-icon:before {
    content: "\e911";
}

.icon-arrow-left-icon:before {
    content: "\e912";
}

.icon-talk-icon:before {
    content: "\e913";
}

.icon-img-icon:before {
    content: "\e914";
}

.icon-share-icon:before {
    content: "\e915";
}

.icon-arrows-2-icon:before {
    content: "\e916";
}

.icon-more-right:before {
    content: "\e917";
}

.icon-more-left:before {
    content: "\e904";
}

.icon-icon-22:before {
    content: "\e920";
}

.icon-Exclamation-mark:before {
    content: "\e918";
}

.icon-x-icon:before {
    content: "\e919";
}

.icon-plus-icon:before {
    content: "\e91a";
}

/*אנימציות*/
/* @keyframes startCard {
    0% {
        margin-left: 13em;
    }

    100% {
        margin-left: 0em;
    }
}

@keyframes float {
    0% {
        transform: translateX(-50%) translateY(0px);
    }

    50% {
        transform: translateX(-50%) translateY(10px);
    }

    100% {
        transform: translateX(-50%) translateY(0px);
    }
} */

/*טעינה*/
/* .loading {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--bg);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2em;
}

.lds-default {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

    .lds-default div {
        position: absolute;
        width: 6px;
        height: 6px;
        background: #C2A9E8;
        border-radius: 50%;
        animation: lds-default 1.2s linear infinite;
    }

        .lds-default div:nth-child(1) {
            animation-delay: 0s;
            top: 37px;
            left: 66px;
        }

        .lds-default div:nth-child(2) {
            animation-delay: -0.1s;
            top: 22px;
            left: 62px;
        }

        .lds-default div:nth-child(3) {
            animation-delay: -0.2s;
            top: 11px;
            left: 52px;
            background: #AE9CE6;
        }

        .lds-default div:nth-child(4) {
            animation-delay: -0.3s;
            top: 7px;
            left: 37px;
        }

        .lds-default div:nth-child(5) {
            animation-delay: -0.4s;
            top: 11px;
            left: 22px;
        }

        .lds-default div:nth-child(6) {
            animation-delay: -0.5s;
            top: 22px;
            left: 11px;
        }

        .lds-default div:nth-child(7) {
            animation-delay: -0.6s;
            top: 37px;
            left: 7px;
        }

        .lds-default div:nth-child(8) {
            animation-delay: -0.7s;
            top: 52px;
            left: 11px;
        }

        .lds-default div:nth-child(9) {
            animation-delay: -0.8s;
            top: 62px;
            left: 22px;
        }

        .lds-default div:nth-child(10) {
            animation-delay: -0.9s;
            top: 66px;
            left: 37px;
        }

        .lds-default div:nth-child(11) {
            animation-delay: -1s;
            top: 62px;
            left: 52px;
        }

        .lds-default div:nth-child(12) {
            animation-delay: -1.1s;
            top: 52px;
            left: 62px;
        }

@keyframes lds-default {
    0%, 20% {
        transform: scale(1);
        background: #C2A9E8;
    }

    80%, 100% {
        transform: scale(1);
        background: #C2A9E8;
    }

    50% {
        transform: scale(1.5);
        background: #AE9CE6;
    }
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

    .lds-ellipsis div {
        position: absolute;
        top: 33px;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background: var(--purple);
        animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }

        .lds-ellipsis div:nth-child(1) {
            left: 8px;
            animation: lds-ellipsis1 0.6s infinite;
        }

        .lds-ellipsis div:nth-child(2) {
            left: 8px;
            animation: lds-ellipsis2 0.6s infinite;
        }

        .lds-ellipsis div:nth-child(3) {
            left: 32px;
            animation: lds-ellipsis2 0.6s infinite;
        }

        .lds-ellipsis div:nth-child(4) {
            left: 56px;
            animation: lds-ellipsis3 0.6s infinite;
        }

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
        background: #AE9CE6;
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
        background: #AE9CE6;
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
        background: #AE9CE6;
    }
}

@keyframes skel {
    0%,100% {
        opacity: 0.5;
    }

    50% {
        opacity: 0.1;
    }
} */


table {  
    width: 80%;
    background-color: var(--bg);
    /* border-collapse: separate;
    border-spacing: 0.5rem; */
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    padding: 3rem 3rem 0rem 0rem;

}
.table>:not(caption)>*>*{
    padding: 1rem ;   
}
thead{
    box-shadow: var(--shadowSmall); 

}



/* td button {
    aspect-ratio: 1/1;
    display: flex;
    border-radius: 50%;
    border: none;
    outline: none;
    justify-content: center;
    align-items: center;
    background:none;
    transition: 1s all linear;
}
    td button:hover {
        background: var(--bg);
        box-shadow: var(--shadowSmall);
        transition: 1s all linear;
    }
    td button span {
        font-size: 14pt;
        color: var(--darkpurple);
        transition: 0.5s all linear;
    }
    td button:hover span {
        font-size: 15pt;
        transition: 0.5s all linear;
    } */

         #videoDiv {
            width: 100%;
            height: 100vh;
            position: absolute;
            overflow: hidden;            
            top: 0;
            left: 0;
            z-index: -1;
            background-color: transparent;
        }
    
        #video1 {
            margin: auto;
            display: block;
            width: 100%;
            opacity: 25%;
        } 

   
      
        .arrow_container {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            bottom: 5px; /* Adjust the distance from the bottom as needed */
            width: 100%;
            left: 0;
          }
        .arrow {            
            transform: translateX(-50%);
            animation: bounce 2s infinite;
            cursor: pointer;
            scale: 0.5;
          }

          .arrow svg {
            display: block;
            margin-bottom: -10px; /* Adjust the spacing between the SVGs as needed */
          }

          .arrow1{
            opacity: 40%;
            animation: bounce2 2s infinite;
          }
          
          @keyframes bounce {
            0%,
            100% {
              transform: translateY(0);
            }
            50% {
              transform: translateY(-25px); /* Adjust the distance of bounce as needed */
            }
          }

          @keyframes bounce2 {
            0%,
            100% {
              transform: translateY(0);
              opacity: 40%;
            }
            50% {
              transform: translateY(-10px); /* Adjust the distance of bounce as needed */
              opacity: 0%;
            }
          }
     